require('mini.base16').setup({
    palette = {
        base00 = '#{{ .theme.palette.base00 }}',
        base01 = '#{{ .theme.palette.base01 }}',
        base02 = '#{{ .theme.palette.base02 }}',
        base03 = '#{{ .theme.palette.base03 }}',
        base04 = '#{{ .theme.palette.base04 }}',
        base05 = '#{{ .theme.palette.base05 }}',
        base06 = '#{{ .theme.palette.base06 }}',
        base07 = '#{{ .theme.palette.base07 }}',
        base08 = '#{{ .theme.palette.base08 }}',
        base09 = '#{{ .theme.palette.base09 }}',
        base0A = '#{{ .theme.palette.base0A }}',
        base0B = '#{{ .theme.palette.base0B }}',
        base0C = '#{{ .theme.palette.base0C }}',
        base0D = '#{{ .theme.palette.base0D }}',
        base0E = '#{{ .theme.palette.base0E }}',
        base0F = '#{{ .theme.palette.base0F }}',
    },
    use_cterm = true,
    plugins = {
        default = true,
    },
})

-- require('mini.hues').setup({
--     background = '#123255',
--     foreground = '#9aaae5',
-- })

-- vim:ft=lua
